@tailwind base;
@tailwind components;
@tailwind utilities;


.flip-card {
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d3a;
    border-radius: 0.5rem;
}

.flip-card-number {
    background-color: #1e1e2a;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ff4081;
    border-radius: 0.3rem;
}

.flip-card-back {
    transform: rotateX(180deg);
}

@keyframes flip {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-180deg);
    }
}

.flip-card-inner {
    animation: flip 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* 添加这个新的类 */
.flip-card-inner.no-animation {
    animation: none;
}
